body {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*Header*/
.main-header {
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f4f7f9;
}

.top-header {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.top-header a {
  color: #ffffff;
}

.logo {
  background-color: #ee3643;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.booking {
  background-color: #63a63e;
}

.booking:hover,
.booking:focus {
  background-color: #5fbb2d;
}

.index-page-title,
.page-description {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-numder a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation,
.main-navigation ul,
.user-menu {
  list-style: none;
}


.user-navigation a,
.user-login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-menu a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

/*main*/
.offers,
.popular-brands-list,
.popular-list,
.breadcrumbs,
.sorting-list,
.catalog-list,
.pagination {
  list-style: none;
}

.offers-block h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.offers-block a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.material-offers {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px; /*уточнить*/
}

.instrument-offers {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px; /*уточнить*/
}

.equipment-offers {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px; /*уточнить*/
}

.discount-offers {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px; /*уточнить*/
}

.delivery-offers {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px; /*уточнить*/
}

.popular-product h2,
.popular-brands h2,
.services h2,
.about-company h2,
.contact h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.services h2,
.about-company h2,
.contact h2 {
  color: #000000;
}

.slider-wrapper {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #a0522d;
}

.slider-drill {
  background-image: url("../img/slider-drill.jpg");   /*уточнить!*/
  background-repeat: no-repeat;
}

.slider-perforator {
  background-image: url("../img/slide-perforator.jpg");   /*уточнить!*/
  background-repeat: no-repeat;
}

.slider-perforator-title,
.slider-drill-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slider-perforator-text,
.slider-drill-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-perforator a,
.slider-drill a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.slider-perforator a:hover,
.slider-drill a:hover,
.slider-perforator a:focus,
.slider-drill a:focus {
  background-color: #ca2c37;
}

.slider-perforator a:active,
.slider-drill a:active {
  background-color: #ba2732;
}

.popular-product-header,
.popular-brands-header {
  background-color: #f9f5f0;
}

.popular-product h2,
.popular-brands h2 {
  color: #32425c;
}

.popular-product a.button,
.popular-brands a.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.popular-product-header a.button:hover,
.popular-product-header a.button:focus,
.popular-brands a.button:hover,
.popular-brands a.button:focus {
  background-color: #ca2c37;
}
.catalog-category,
.catalog-model {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}
.new-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}
.button-booking {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
}

.button-booking:hover,
.button-booking:focus {
  background-color: #5fbb2d;
}

.button-booking:active {
  background-color: #518534;
}

.button-marker {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.button-marker:hover,
.button-marker:focus {
  border: 3px solid #32425c;
}

.button-marker:active {
  color: rgba(50, 66, 92, 0.3);

  border: 3px solid #32425c;
}

.services {
  background-color: #f4f7f9;
}

.services h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.credit a,
.about-company a,
.contact a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.credit a:hover,
.credit a:focus,
.about-company a:hover,
.about-company a:focus,
.contact a:hover,
.contact a:focus {
  background-color: #ca2c37;
}

.delivery-list {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;
}

.breadcrumbs a {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-current {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.page-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: Cuprum;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filters legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.sort-link {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
}

.sort-link.active {
  color: #ee3643;

  border-bottom: none;
}

.sort-link:hover,
.sort-link:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}
.sort-link:active {
  color: #ee3643;

  border-bottom: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 1.38;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

/* Футер */
.social-footer ul,
.footer-navigation {
  list-style: none;
}

.footer-top {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #293449;
}

.footer-navigation a,
.footer-contact a {
  color: #ffffff;
}  

.offers a,
.mail a,
.developer a {
  color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.offers a:hover,
.offers a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.offers a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.mail a:active,
.developer a:active {
  color: #ee3643;
  text-decoration: none;
}

.popup-product-in-basket {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.button-block {
  font-size: 14px;
  line-height: 18px;

  background-color: #f1f1f1;
}

.button-checkout {
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button-shopping {
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.close-popup {
  /*уточнить?*/
  background-color: #ee3643;
  background-image: url("../img/map-close.svg");
  background-repeat: no-repeat;
}

.popup-message {
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.button-send {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.popup-message input,
.popup-message textarea {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #999999;

  border: 2px solid #d7dcde;
}

.popup-message input:hover,
.popup-message textarea:hover {
  border: 2px solid #b5b5b5;
}

.popup-message input:focus,
.popup-message textarea:focus {
  border: 2px solid #ee3643;
}



